<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/client/css/home.css">
  <link rel="stylesheet" href="/static/client/css/partials.css">
  <link rel="stylesheet" href="/static/client/css/aboutUs.css">
  <title>Document</title>
</head>



<body>
  <%- include('../partials/client/header') %>
  <section id="top" class="relative">
    <div class="max-w-7xl mx-auto relative">
      <div class="container-top">
        <div class="top-image">
          <img loading="lazy" class="relative" width="500" height="500" src="https://cdn.youmed.vn/wp-content/themes/youmed/images/about-us.png" alt="About Us">
        </div>
        <div class="heading-top flex flex-col justify-center">
          <h1>Ứng dụng đặt khám, đặt thuốc</h1>
          <div class="mt-6">
            <p>Chúng tôi xây dựng nền tảng y tế thông minh với sứ mệnh rút ngắn khoảng cách giữa Bệnh nhân, Bác sĩ và các Cơ sở y tế</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="product">
    <div class="section-wrapper">
      <div class="container-product">
        <div class="product-items">
          <div class="p-6 flex-grow">
            <div class="mb-8">
              <img loading="lazy" width="48" height="48" src="https://cdn.youmed.vn/wp-content/themes/youmed/images/dartboard.svg" alt="Tìm chính xác">
            </div>
            <h2 class="font-semibold mb-4 mg-0">Tìm chính xác</h2>
            <p>Thông tin về phòng khám và bác sĩ luôn được cập nhật chính xác bởi đội ngũ chuyên nghiệp của YouMed. Bạn hoàn toàn có thể yên tâm tự nghiên cứu, đánh giá và đưa ra sự lựa chọn bác sĩ phù hợp với tình hình bệnh án của mình mà không cần phải mất nhiều thời gian.</p>
          </div>
        </div>
        <div class="product-items">
          <div class="p-6 flex-grow">
            <div class="mb-8">
              <img loading="lazy" width="48" height="48" src="https://cdn.youmed.vn/wp-content/themes/youmed/images/medical-appointment.svg" alt="Đặt lịch khám dễ dàng">
            </div>
            <h2 class="font-semibold mb-4 mg-0">Đặt lịch khám dễ dàng</h2>
            <p>Chỉ với vài thao tác đơn giản, bạn có thể đặt lịch khám Online một cách nhanh chóng mà không cần phải gọi điện hoặc lo lắng rằng không có thông tin liên lạc của Bác sĩ.</p>
          </div>
        </div>
        <div class="product-items">
          <div class="p-6 flex-grow">
            <div class="mb-8">
              <img loading="lazy" width="48" height="48" src="https://cdn.youmed.vn/wp-content/themes/youmed/images/news.svg" alt="Thông tin y tế chính thống">
            </div>
            <h2 class="font-semibold mb-4 mg-0">Thông tin y tế chính thống</h2>
            <p>Trang thông tin sức khỏe chính thống và hữu ích hàng đầu Việt Nam. Toàn bộ nội dung được biên soạn bởi đội ngũ Bác sĩ, Dược sĩ nhằm mục đích cung cấp kiến thức y khoa chính thống cho cộng đồng.</p>
          </div>
        </div>
        <div class="product-items">
          <div class="p-6 flex-grow">
            <div class="mb-8">
              <img loading="lazy" width="48" height="48" src="https://cdn.youmed.vn/wp-content/themes/youmed/images/dartboard.svg" alt="Tìm chính xác">
            </div>
            <h2 class="font-semibold mb-4 mg-0">Tìm chính xác</h2>
            <p>Thông tin về phòng khám và bác sĩ luôn được cập nhật chính xác bởi đội ngũ chuyên nghiệp của YouMed. Bạn hoàn toàn có thể yên tâm tự nghiên cứu, đánh giá và đưa ra sự lựa chọn bác sĩ phù hợp với tình hình bệnh án của mình mà không cần phải mất nhiều thời gian.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="our-team">
    <div class="section-wrapper">
      <div class="mb-10">
        <h2 class="text-center heading-product">Đội ngũ điều hành</h2>
      </div>
      <div class="list-team">
        <div class="team-members">
          <div class="card">
            <img loading="lazy" class="mx-auto" src="https://cdn.youmed.vn/tin-tuc/wp-content/uploads/2021/05/Nguyen-Ngoc-Hoang.jpg" alt="Nguyễn Ngọc Hoàng">
          </div>
          <h3>Nguyễn Ngọc Hoàng</h3>
          <p>Tổng giám đốc - CEO</p>
        </div>
        <div class="team-members">
          <div class="card">
            <img loading="lazy" class="mx-auto" src="https://cdn.youmed.vn/tin-tuc/wp-content/uploads/2021/05/duong-anh-hoang.jpg" alt="Dương Anh Hoàng">
          </div>
          <h3>Dương Anh Hoàng</h3>
          <p>Marketing Director</p>
        </div>
        <div class="team-members">
          <div class="card">
            <img loading="lazy" class="mx-auto" src="https://cdn.youmed.vn/tin-tuc/wp-content/uploads/2021/05/do-tuan-minh-operation-manager-youmed-vn.jpg" alt="Đỗ Tuấn Minh">
          </div>
          <h3>Đỗ Tuấn Minh</h3>
          <p>Operations Manager</p>
        </div>
        <div class="team-members">
          <div class="card">
            <img loading="lazy" class="mx-auto" src="https://cdn1.youmed.vn/tin-tuc/wp-content/uploads/2022/06/le-chi-canh-it-director-youmed-vn.jpeg" alt="Lê Chí Cảnh">
          </div>
          <h3>Lê Chí Cảnh</h3>
          <p>IT Director</p>
        </div>
      </div>
    </div>
  </section>



  <%- include('../partials/client/footer') %>
</body>

</html>