<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 62px;
      background-color: #fff;
      font-family: Arial, Helvetica, sans-serif;
    }

    .header_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header_nav {
      list-style-type: none;
    }

    .nav_item {}

    .header_logo {
      flex: 2;
    }

    .header_nav {
      flex: 3;
    }

    .header_login {
      flex: 1;
      display: flex;
      justify-content: end;
      align-items: center;
      margin-right: 32px;
    }

    .header_nav a,
    .header_login a {
      text-decoration: none;
      padding: 12px 16px;
      color: #333;
      font-weight: 600;
      font-size: 16px;
      border-radius: 5px;
    }

    .header_login a {
      border: 1px solid #1975dc;
      color: #1975dc
    }


    .header_nav a:hover {
      background-color: #d8d7d7;
      color: #1975dc;
    }

    .header_login a:hover {
      color: #fff;
      background-color: #1975dc;
      animation: 1 ease-in;
    }

    .header_login a {
      text-decoration: none;
    }

    .header_user {
      flex: 1;
      display: flex;
      justify-content: end;
      align-items: center;
      margin-right: 32px;
    }

    .header_user a {
      color: #333;
      font-weight: 600;
      font-size: 18px;
      padding: 10px;
      text-decoration: none;
      border-radius: 10px;
    }

    .header_user a:hover {
      color: #fff;
      background-color: #1975dc;
      animation: 1 ease-in;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      /* align-items: center; */
    }

    .footer_infor {
      flex: 2;
    }

    .footer_infor span {
      font-weight: 600;
    }

    p {
      line-height: 30px;
      font-size: 18px;
    }

    .footer_support {
      flex: 1;
    }

    .footer_support ul {
      list-style-type: none;
    }

    .footer_support li {
      margin-top: 14px;
    }

    .footer_support a {
      color: #000;
      font-size: 18px;
      text-decoration: none;
    }

    .footer_support a:hover {
      text-decoration: underline;
      color: #1975dc;
      animation: 1 ease-in;
    }

    .footer-contact {
      flex: 1;
    }

    .footer-contact ul {
      list-style-type: none;
    }

    .footer-contact li {
      display: inline-block;
      padding: 10px;
    }

    .footer-contact li a {
      font-size: 24px;
      color: #ccc;
    }

    .footer-contact li a {
      font-size: 24px;
      color: #ccc;
      transition: color 0.3s;
      /* Thêm hiệu ứng chuyển đổi màu trong 0.3 giây */
    }

    .footer-contact li a:hover {
      color: #1975dc;
      /* Màu mới khi hover */
      animation: iconBounce 0.5s ease infinite;
      /* Thêm animation khi hover */
    }

    @keyframes iconBounce {

      0%,
      100% {
        transform: translateY(0);
        /* Vị trí ban đầu và kết thúc */
      }

      50% {
        transform: translateY(-5px);
        /* Giữa animation, biểu tượng được đẩy lên 5px */
      }
    }
  </style>
</head>

<body>
  <div class="header">
    <div class="header_logo">
      Team_7_MSCNPTPM
    </div>

    <ul class="header_nav">
      <li class="nav_item"><a href="/form">Đặt khám</a></li>
      <li class="nav_item"><a href="">Tư vấn trực tuyền</a></li>
      <li class="nav_item"><a href="">Tin Y tế</a></li>
      <li class="nav_item"><a class="" href="">Về chúng tôi</a></li>
    </ul>

    <div class="header_login">
      <a href="/register" class="login">Đăng ký</a>
      <a href="/login" class="login">Đăng nhập</a>
    </div>

  </div>

  <div class="header">
    <div class="header_logo">
      Team_7_MSCNPTPM
    </div>

    <ul class="header_nav">
      <li class="nav_item"><a href="">Đặt khám</a></li>
      <li class="nav_item"><a href="">Tư vấn trực tuyền</a></li>
      <li class="nav_item"><a href="">Tin Y tế</a></li>
      <li class="nav_item"><a class="" href="">Về chúng tôi</a></li>
    </ul>

    <div class="header_user">
      <a href="" class="login">
        <i class="fa-regular fa-circle-user"></i>
        Nguyễn Ngọc Tú Tài</a>
    </div>

  </div>

  <div class="footer">
    <div class="footer_infor">
      <h4 class="infor_heading">CÔNG TY TNHH YOUMED VIỆT NAM</h4>
      <span class="infor_places">VPĐD:</span>
      <p> 523 Tô Hiến Thành, P.14, Q.10, TP. HCM
      </p>
      <span class="infor_places">Hotline:</span>
      <p> 1900-2805 (8:30 - 20:30 từ T2 đến T7)</p>
      <p>
        Số ĐKKD 0315268642 do Sở Kế hoạch và Đầu tư TP. Hồ Chí Minh cấp lần đầu ngày 14/09/2018.
      </p>
      <p>
        Chịu trách nhiệm nội dung: Dược sĩ Dương Anh Hoàng.
      </p>
    </div>

    <div class="footer_support">
      <h4>Hỗ trợ</h4>
      <ul class="support_list">
        <li><a href="">Điều khoản sử dụng</a></li>
        <li><a href="">Chính sách Bảo Mật</a></li>
        <li><a href="">Chính sách giải quyết khiếu nại</a></li>
        <li><a href="">Hỗ trợ khách hàng: cskh@youmed.vn</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <div class="contact-sociable">
        <h4>Kết nối với chúng tôi</h4>
        <ul class="sociable-list">
          <li><a href="">
              <i class="fa-brands fa-facebook"></i>
            </a></li>
          <li><a href="">
              <i class="fa-brands fa-youtube"></i>
            </a></li>
          <li><a href="">
              <i class="fa-brands fa-linkedin"></i>
            </a></li>
          <li><a href="">
              <i class="fa-brands fa-instagram"></i>
            </a></li>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>