<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đặt lịch khám</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .wrapper {
      position: relative;
      width: 80%;
      height: 700px;
      border: 5px solid rgba(20, 20, 255, .5);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    .wrapper .form-box-register {
      width: 100%;
      padding: 20px;
    }

    .form-box-register h2 {
      font-size: 50px;
      color: rgb(20, 20, 255);
      text-align: center;
    }

    .form-box-register .row {
      width: 100%;
      display: flex;
      justify-content: space-around;
      text-align: center;
    }

    .input-box-1 {
      float: left;
      position: relative;
      width: 40%;
      height: 30px;
      margin: 30px 0 0 0;
    }

    .input-box-1 label {
      position: absolute;
      top: 40%;
      left: 5px;
      transform: translateY(-165%);
      font-size: 20px;
      color: #162938;
      font-weight: 500;
      pointer-events: none;
    }

    .input-box-1 input {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      font-size: 24px;
      color: #162938;
      font-weight: 600;
      padding: 0 35px 0 5px;
    }

    .input-box-2 {
      width: 90%;
      height: 30px;
      float: left;
      display: flex;
      position: relative;
      margin: 30px 0;

    }

    .input-box-2 label {
      position: absolute;
      top: 40%;
      left: 5px;
      transform: translateY(-165%);
      font-size: 20px;
      color: #162938;
      font-weight: 500;
      pointer-events: none;
    }

    .input-box-2 input {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      font-size: 24px;
      color: #162938;
      font-weight: 600;
      padding: 0 35px 0 5px;
    }

    .btn {
      width: 30%;
      height: 45px;
      background: rgb(20, 20, 255);
      border: none;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 30px;
      color: #fff;
    }
  </style>

</head>

<body>

  <%- include('../partials/client/header') %>

  <div class="wrapper">
    <div class="form-box-register">
      <h2>Đặt lịch khám</h2>
      <form action="#">
        <div class="row">
          <div class="input-box-1">
            <input type="text" name="name" required>
            <label>Họ tên(*)</label>
          </div>
          <div class="input-box-1">
            <input type="text" name="sex" required>
            <label>Giới tính(*)</label>
          </div>
        </div>

        <div class="row">
          <div class="input-box-1">
            <input type="text" name="address" required>
            <label>Địa chỉ(*)</label>
          </div>
          <div class="input-box-1">
            <input type="date" name="date-of-birth" required>
            <label>Ngày sinh(*)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-box-1">
            <input type="text" name="phone_number" required>
            <label>Điện thoại(*)</label>
          </div>
          <div class="input-box-1">
            <input type="datetime" name="email">
            <label>Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-box-1">
            <input type="text" name="id-number" required>
            <label>Số CMND / CCCD(*)</label>
          </div>
          <div class="input-box-1">
            <input type="date" name="date-range" required>
            <label>Ngày cấp(*)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-box-1">
            <input type="text" name="department" required>
            <label>Khoa(*)</label>
          </div>
          <div class="input-box-1">
            <input type="text" name="date" required>
            <label>Giờ hẹn(*)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-box-2">
            <input type="text" name="reason" required>
            <label>Lý do khám(*)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-box-2">
            <input type="text" name="note">
            <label>Ghi chú</label>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn">Đăng ký</button>
        </div>
      </form>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/ba62b18a98.js" crossorigin="anonymous"></script>

</body>

</html>