<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đặt lịch khám</title>

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="/static/client/css/partials.css">
  <link rel="stylesheet" href="/static/client/css/form.css">

</head>

<body>

  <%- include('../partials/client/header') %>

  <div class="container">
    <div class="wrapper">
      <div class="form-box-register">
        <h2>Đặt lịch khám</h2>
        <form action="#">
          <div class="row">
            <div class="input-box-1">
              <input type="text" name="name" required>
              <label>Họ tên(*)</label>
            </div>
            <div class="input-box-1">
              <input type="text" name="sex" required>
              <label>Giới tính(*)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-box-1">
              <input type="text" name="address" required>
              <label>Địa chỉ(*)</label>
            </div>
            <div class="input-box-1">
              <input type="date" name="date_of_birth" required>
              <label>Ngày sinh(*)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-box-1">
              <input type="text" name="phone_number" required>
              <label>Điện thoại(*)</label>
            </div>
            <div class="input-box-1">
              <input type="datetime" name="email">
              <label>Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-box-1">
              <input type="text" name="id_number" required>
              <label>Số CMND / CCCD(*)</label>
            </div>
            <div class="input-box-1">
              <input type="date" name="date_range" required>
              <label>Ngày cấp(*)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-box-1">
              <input type="text" name="department" required>
              <label>Khoa(*)</label>
            </div>
            <div class="input-box-1">
              <input type="text" name="date" required>
              <label>Giờ hẹn(*)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-box-2">
              <input type="text" name="reason" required>
              <label>Lý do khám(*)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-box-2">
              <input type="text" name="note">
              <label>Ghi chú</label>
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn">Đăng ký</button>
          </div>
        </form>

      </div>
    </div>
  </div>

  <script>
    const fetchData = async () => {
      const result = await (await fetch('/api/v1/users')).json()
      console.log(result);
    }

    // fetchData();

    const form = document.querySelector('form');
    form.addEventListener('submit', async function(e) {
      e.preventDefault();

      const data = {};
      const name = document.querySelector('#name');
      const sex = document.querySelector('#sex');
      const address = document.querySelector('#address');
      const date_of_birth = document.querySelector('#date_of_birth');
      const phone_number = document.querySelector('#phone_number');
      const email = document.querySelector('#email');
      const id_number = document.querySelector('#id_number');
      const date_range = document.querySelector('#date_range');
      const department = document.querySelector('#department');
      const date = document.querySelector('#date');
      const reason = document.querySelector('#reason');
      const note = document.querySelector('#note');


      // const password = document.querySelector('#password');

      // data["name"] = name.value;
      data.name = name.value;
      data.sex = sex.value;
      data.address = address.value;
      data.date_of_birth = date_of_birth.value;
      data.phone_number = phone_number.value;
      data.email = email.value;
      data.id_number = id_number.value;
      data.date_range = date_range.value;
      data.department = department.value;
      data.date = date.value;
      data.reason = reason.value;
      data.note = note.value;


      console.log("Du lieu gui len: ", data);

      const result = await (await fetch('/api/v1/users', {
        method: 'POST',
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data)
      })).json()

      console.log("Du lieu nhan ve: ", result);

    })
  </script>


  <%- include('../partials/client/footer') %>

</body>

</html>