<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/client/head') %>

  <title>Đặt lại mật khẩu</title>

</head>

<body class="hold-transition theme-primary bg-img" style="background-image: url(/static/admin/images/auth-bg/bg-2.jpg)">

  <div class="container h-p100">
    <div class="row align-items-center justify-content-md-center h-p100">

      <div class="col-12">
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-5 col-md-5 col-12">
            <div class="bg-white rounded30 shadow-lg">
              <div class="content-top-agile p-20 pb-0">
                <h3 class="mb-0 text-primary">Đặt lại mật khẩu</h3>
              </div>
              <div class="p-40">
                <form id="resetPasswordForm">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-transparent"><i class="ti-text"></i></span>
                      </div>
                      <input type="password" id="password" class="form-control pl-15 bg-transparent" placeholder="Mật khẩu mới">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-transparent"><i class="ti-text"></i></span>
                      </div>
                      <input type="password" id="confirmPassword" class="form-control pl-15 bg-transparent" placeholder="Xác nhận mật khẩu mới">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      <button type="submit" class="btn btn-info margin-top-10">Gửi</button>
                    </div>
                    <!-- /.col -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/client/script') %>

  <script src="/static/client/js/reset_password.js"></script>
</body>

</html>
