<aside class="main-sidebar">
  <section class="user-profile px-30 py-0">
    <div class="d-flex align-items-center">
      <div class="image">
        <img src="/static/admin/images/avatar/anonymous.png" alt="Not Found" onerror="this.src='/static/admin/images/avatar/anonymous.png'" class="avatar avatar-lg">
      </div>
      <div class="info ml-10">
        <p class="mb-0">Xin chào,</p>
        <h5 class="mb-0">Cao Trung Đức</h5>
      </div>
    </div>
  </section>
  <!-- sidebar-->
  <section class="sidebar">
    <!-- sidebar menu-->
    <ul class="sidebar-menu" data-widget="tree">
      <li><a href="#"><i class="icon-Write"><span class="path1"></span><span class="path2"></span></i>Phê duyệt đơn khám bệnh</a></li>
      <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Quản lý cơ sở y tế</a></li>
      <li class="treeview">
        <a href="#">
          <i class="icon-Bullet-list"><span class="path1"></span><span class="path2"></span></i>
          <span>Quản trị hệ thống</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Quản lý tài khoản</a></li>
          <li><a href="/admin/manage-roles"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Quản lý quyền</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
