<div class="footer">
  <div class="footer_infor">
    <h4 class="infor_heading">CÔNG TY TNHH YOUMED VIỆT NAM</h4>
    <span class="infor_places">VPĐD:</span>
    <p> 523 Tô Hiến Thành, P.14, Q.10, TP. HCM
    </p>
    <span class="infor_places">Hotline:</span>
    <p> 1900-2805 (8:30 - 20:30 từ T2 đến T7)</p>
    <p>
      Số ĐKKD 0315268642 do Sở Kế hoạch và Đầu tư TP. Hồ Chí Minh cấp lần đầu ngày 14/09/2018.
    </p>
    <p>
      Chịu trách nhiệm nội dung: Dược sĩ Dương Anh Hoàng.
    </p>
  </div>

  <div class="footer_support footer-item">
    <h4>Hỗ trợ</h4>
    <ul class="support_list">
      <li><a href="">Điều khoản sử dụng</a></li>
      <li><a href="">Chính sách Bảo Mật</a></li>
      <li><a href="">Chính sách giải quyết khiếu nại</a></li>
      <li><a href="">Hỗ trợ khách hàng: cskh@youmed.vn</a></li>
    </ul>
  </div>

  <div class="footer-contact footer-item">
    <div class="contact-sociable">
      <h4>Kết nối với chúng tôi</h4>
      <ul class="sociable-list">
        <li><a href="">
            <i class="fa-brands fa-facebook"></i>
          </a></li>
        <li><a href="">
            <i class="fa-brands fa-youtube"></i>
          </a></li>
        <li><a href="">
            <i class="fa-brands fa-linkedin"></i>
          </a></li>
        <li><a href="">
            <i class="fa-brands fa-instagram"></i>
          </a></li>
      </ul>
      <div class="contact_cpr">
        <img src="static/client/images/dadangky.svg" alt="">
        <img src="static/client/images/certificate.png" alt="">
      </div>
    </div>
  </div>
</div>