<header class="header">
  <div class="header_logo">
    <a href="/"><img src="/static/client/images/logo.svg" alt=""></a>
  </div>

  <div class="header_infor">
    <ul class="header_nav">
      <li class="nav_item"><a href="/form">Đặt khám</a></li>
      <li class="nav_item"><a class="" href="/about-us">Về chúng tôi</a></li>
    </ul>


  </div>
  <% if (user) { %>
  <div class="header_user">
    <a href="/admin" class="login">
      <img src="<%= user.avatar %>" alt="Avatar" style="width: 40px; height: 40px; border-radius: 50%;">
    </a>
  </div>
  <% } else { %>
  <div class="header_user">
    <a href="/register" class="user_register">Đăng ký</a>
    <a href="/login" class="user_login">Đăng nhập</a>
  </div>
  <% } %>
</header>