* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

li {
  list-style: none;
}

/* intro */
.intro_hospital {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(https://cdn-pkh.longvan.net/prod-partner/877df3a6-926a-4146-8123-936a79e1eaa7-background_banner.webp);
  text-align: center;
}

.intro_wrapper {
  height: 100%;
  display: flex; /* Sử dụng flexbox để căn giữa the nội dung bên trong */
  flex-direction: column; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa the theo chiều dọc (nếu cần) */
  justify-content: center;
}

.intro_tag {
  font-family: Roboto, sans-serif !important;
  color: var(--text-blue, #11a2f3);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.intro_title {
  line-height: 42px;
  font-size: 26px;
}

.intro_line {
  font-family: Roboto, sans-serif !important;
  color: #003553;
  text-shadow: 0 4px 4px rgba(104, 125, 199, 0.2);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.intro_register {
  margin-bottom: 20px;
}

.intro_btn {
  background-color: orange;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 20px;
}

.intro_desc {
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #003553;
}

/* intro sub desc */
.intro_subdesc {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.subdesc_text_1 {
  font-family: sans-serif;
  color: #003553;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.subdesc_text_2 {
  opacity: 0.8;
  font-size: 20px;
}

/* intro */
.intro_hospital {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(https://cdn-pkh.longvan.net/prod-partner/877df3a6-926a-4146-8123-936a79e1eaa7-background_banner.webp);
  text-align: center;
}

.intro_wrapper {
  height: 100%;
  display: flex; /* Sử dụng flexbox để căn giữa the nội dung bên trong */
  flex-direction: column; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa the theo chiều dọc (nếu cần) */
  justify-content: center;
}

.intro_tag {
  font-family: Roboto, sans-serif !important;
  color: var(--text-blue, #11a2f3);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.intro_title {
  line-height: 42px;
  font-size: 26px;
}

.intro_line {
  font-family: Roboto, sans-serif !important;
  color: #003553;
  text-shadow: 0 4px 4px rgba(104, 125, 199, 0.2);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.intro_register {
  margin-bottom: 20px;
}

.intro_btn {
  background-color: orange;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 20px;
}

.intro_desc {
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #003553;
}

/* intro sub desc */
.intro_subdesc {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.subdesc_text_1 {
  font-family: sans-serif;
  color: #003553;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.subdesc_text_2 {
  opacity: 0.8;
  font-size: 20px;
}

.doctor-items,
.specialist-items {
  display: flex;
  position: relative;
  margin: 0 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
  overflow-x: auto;
  user-select: none;
}

.doctor-info {
  margin-right: 1rem;
}

.doctor-info,
.specialist-info {
  user-select: none;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: 1px solid #e3e8f0;
  border-radius: 0.75rem;
  overflow: hidden;
  max-width: 80%;
  width: 280px;
  height: 259px;
  box-sizing: border-box;
}

.slick-arrow {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 1.75rem;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 4px 6px #00000017;
  border: 0;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-arrow:hover {
  color: #fff;
  background-color: rgb(25 117 220);
}

.doctor-info:hover a,
.doctor-info:hover h3 {
  color: rgb(40, 116, 252);
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-semibold {
  font-weight: 600;
}

.transition-transform {
  transition-duration: 0.15s;
}

.mgt-4 {
  margin: 0.25rem 0 0;
}

.text-slider {
  color: rgb(75 85 99);
}

.avatar {
  margin: 0 auto;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 9999px;
  overflow: hidden;
  width: 6rem;
  height: 6rem;
}

.avatar img {
  display: block;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  overflow-clip-margin: content-box;
  object-fit: cover;
  overflow: clip;
  max-width: 100%;
  cursor: pointer;
}

.items-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  padding: 1rem;
  gap: 1rem;
}

.doctor-info > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid;
  padding: 0.5rem 1rem;
  color: #1f2937;
}

.items-faculty {
  position: relative;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.items-faculty:after {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 9999px;
  opacity: 1;
  background-color: rgb(209 213 219);
  content: '';
  top: 50%;
  right: 8px;
  transform: translate(50%, -50%);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.items-center {
  align-items: center;
  justify-content: center;
}

.doctor-info:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
